body{
    margin: auto;
    padding: 0%;
    background-color: chartreuse;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: blueviolet;
    text-align: center;
}
.data{
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
}
td,th{
    border: rgb(11, 2, 87) 5px solid;
}
table{
    width: 100%;
    border-collapse: collapse;

}
th{
    padding: 10px;
}
thead{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: blue;
}
td{
    color: brown;
    padding: 20px;
    font-size: 20px;
}
tr :nth-child(even){
    background-color: black;
}
tr:nth-child(even){
    background-color: blueviolet;
}
button{
    margin-top: 20px;
    text-decoration: none;
    color: aqua;
}